@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    box-sizing: border-box;
    margin-top: 0;
    margin-left: 0;
}
.container, .submit, input, ::placeholder{
    font-family: "Press Start 2P", sans-serif;
    font-size: 20px;
    color: rgba(6, 70, 122, 0.952);
    text-shadow: 1px 1px 1px black;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-image: url("/back.gif");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.header-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
}
.form{
    padding: 5px;
    margin: 15px;
    
    
}
.form__container{
    border-radius: 20px;
    background-color: rgba(143,207,225, 0.6);
    
}
.input-form {
    margin: 15px;
    margin-bottom: 0px;
}
.submit{
    display: flex;
    justify-content: center;
    padding: 10px 1px 10px 1px;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(6, 70, 122, 0.952);
    font-size: 20px;
    color: white;
    border-color: rgba(21,120,198, 0.1);
    margin-top: 30px;
}
label{
    display: flex;
    justify-content: center;
}
input{
    margin: 10px;
    padding: 4px;
    text-align: center;
    font-size: 18px;
    background-color: rgba(68, 132, 145, 0.671);
    border-radius: 20px;
    border: none;
    color:  rgba(0, 0, 0, 0.356);
}
.submit:active, .submit:focus, .submit:hover{
    cursor: pointer;
    transform: scale(1.025);
}

.error{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: red;
}
